/* card */
.touch {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .touch .card {
    border: none;
    border-radius: 1rem;
  }
  
  @media (min-width: 992px) {
    .touch .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
      transition: .2s;
    }
  
  }
.layout-content{
    border-radius: 10px;
}